# Environment & Secrets
.env
*.env.local
config/stripe.yaml

# Logs
logs/*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# DB files
*.sqlite3
*.db
config/stripe.yaml
